@media screen and (max-width: 1250px){

  #open-menu {
    display: block;
    z-index: 10000;
  }

  #myMenu {
    display: none;
    margin-top: 25px;
    border: 1px solid #ffffff;
    padding-left: 10px;
    margin-right: 10px;
    transition: display .7s ease-in-out;
  }

  ul.act {
    display: block;
    transition: 0.5s display 0.1s;
  }

  .list-element {
    display: block;
  }

  .about-us-wrapper-description {
    font-size: 1.3vw;
  }

  .adoption {
    position: relative;
    max-width: 60%;
    transform: translateY(42vh);
    margin: 0 auto;
  }
}

@media screen and (max-width: 960px){


  .help-description {
    font-size: 2vw;
  }

  .footer-wrapper-info-item {
    line-height: 9vh;
    font-size: 2.9vh;

    span {
      font-size: 3.1vh;
    }
  }

  .services-wrapper-items-reserve {
    padding: 5px 35px;
    margin: 10px auto 0;
  }
}

@media screen and (max-width: 850px) {

  .adoption-chapter {
    font-size: 5vw;
  }

  .adoption-me {
    font-size: 3vw;
    padding: 5px 35px;
  }

  .about-us-wrapper-description {
    font-size: 1.9vw;
    line-height: 6vh;
  }

  .services {
    padding-top: 12vh;
  }

  .services-wrapper-items {

    &-service {
      padding: 0;

      &-name {
        margin:  0;
      }

      &-describe {
        margin-bottom: 1%;
      }

      img {
        margin: 1% auto;
      }
    }

    &-reserve {
      margin: 2% auto 0;
    }
  }

  .services-wrapper-items-service img {
    width: 17%;
  }

  .help-description {
    top: 55px;
  }

  .help-choices-item-button {
    font-size: 12px;
    padding: 2px 35px;
  }

  .help-choices {
    padding: 0 65px;
  }

  .help-choices-item {
    width: auto;

    &-button {
      margin: 0 auto 1%;
    }

    img {
      margin: 1% auto 0;
    }

    p {
      padding: 0 1%;
      font-size: 12px;
    }
  }

  .footer-wrapper-form {

    input {
      height: 25px;
    }

    &-button {
      padding: 7px 35px;
      font-size: 15px;
    }
  }

}

@media screen and (max-width: 650px) {
  .footer-wrapper-form {
    input {
      height: 20px;
    }
  }
}

@media screen and (max-width: 618px){

  .adoption {
    transform: translateY(58vh);

    &-chapter {
      font-size: 30px;
    }
  }

  .services-wrapper-items-reserve {
    margin: 1px auto;
  }

  .main-link {
    margin: 20px auto 0;
    justify-content: center;
  }


}

@media screen and (orientation: portrait) and (max-width: 414px)  {

  .services-wrapper {
    padding: 0 65px;
  }

  .home {
    background-position-x: center;
  }

  .adoption {
    position: static;
    margin: 0 auto;
    transform: translateY(10vh);
  }

  .about-us {
    background-position-x: right;
  }

  .help-description {
    font-size: 5vw;
  }

  .footer-wrapper-info-item {
    line-height: 4vh;
    font-size: 1.9vh;
    padding-bottom: 10px;
  }



  .adoption-chapter {
    font-size: 23px;
  }

  .adoption-me {
    padding: 20px 10px;
  }

  .about-us-wrapper-description {
    line-height: 19px;
  }

}

@media (orientation: portrait) {
  .footer-wrapper-form-button {
    font-size: 5vw;
  }
}