@font-face {
  font-family: "Trajan";
  src: url("../fonts/TrajanPro3-Regular.otf"); }
@font-face {
  font-family: "Gothic";
  src: url("../fonts/GOTHIC.ttf"); }
button {
  cursor: pointer; }

* {
  padding: 0;
  margin: 0; }

.section {
  color: #ffffff;
  background-color: black; }

#open-menu {
  display: none;
  color: #fff;
  cursor: pointer;
  padding: 30px 30px 0 0;
  position: fixed;
  right: 0; }

#myMenu {
  z-index: 70;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 30px 0 0;
  max-width: 1020px;
  box-sizing: border-box;
  position: fixed;
  right: 0; }
  #myMenu .active {
    border: 1px solid #fff;
    transform-origin: 50% 50% 0;
    -webkit-transition: all 1.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -moz-transition: all 1.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -o-transition: all 1.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: all 1.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    width: auto; }
  #myMenu .list-element {
    list-style: none;
    font-size: 20px;
    padding: 5px 10px; }
    #myMenu .list-element-link {
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      font-family: "Gothic", "sans-serif"; }
  #myMenu:last-child {
    margin-right: 0; }

.main-link {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #fff;
  padding-top: 30px;
  padding-left: 30px;
  max-width: 358px; }
  .main-link img {
    vertical-align: middle; }
  .main-link h1 {
    font-size: 15.24px;
    font-weight: 400;
    width: 268px;
    text-transform: uppercase;
    text-align: center;
    line-height: 32px; }

.home {
  background-image: url("../images/vvv.png");
  background-size: cover;
  position: relative; }

.adoption {
  position: absolute;
  bottom: 150px;
  left: 30px;
  display: flex;
  flex-direction: column;
  max-width: 502px;
  align-items: center; }
  .adoption-chapter, .about-us-chapter, .services-wrapper-chapter, .services-wrapper-items-service-name, .help-chapter, .footer-chapter {
    font-family: "Trajan", "sans-serif";
    color: #fff;
    font-size: 46px;
    font-weight: 400;
    text-align: center; }
  .adoption-me {
    text-decoration: none;
    color: #000;
    background-color: rgba(235, 235, 235, 0.5);
    padding: 20px 35px;
    border: 1px solid #7c5c65;
    font-size: 27px;
    max-width: 176px;
    text-align: center; }
    .adoption-me:hover {
      background-color: rgba(235, 235, 235, 0);
      color: #fff;
      transition-duration: 0.5s; }

.about-us {
  background-image: url("../images/cat.png");
  background-size: cover;
  opacity: 0.8;
  padding-top: 20px; }
  .about-us-chapter {
    position: absolute;
    top: 16px;
    left: 30px; }
  .about-us-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 70px; }
    .about-us-wrapper-description {
      font-family: "Gothic", "sans-serif";
      font-size: 22px;
      font-weight: 400;
      line-height: 35px;
      text-align: center; }

.services {
  background-image: url("../images/dog.png");
  background-size: cover;
  padding-top: 20px; }
  .services-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .services-wrapper-chapter {
      position: absolute;
      top: 16px;
      left: 30px; }
    .services-wrapper-items-service {
      max-width: 380px;
      border: 1px solid #fdfff9;
      box-sizing: border-box;
      background-color: rgba(249, 173, 129, 0.16);
      background: -webkit-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      background: -moz-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      background: -o-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      background: -ms-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      background: linear-gradient(-45deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      padding: 0 30px; }
      .services-wrapper-items-service-name {
        text-align: center;
        font-size: 27px;
        margin: 20px 0 50px; }
      .services-wrapper-items-service-describe {
        font-family: "Gothic", "sans-serif";
        font-size: 22px;
        text-align: center;
        margin-bottom: 50px; }
      .services-wrapper-items-service img {
        display: block;
        margin: 0 auto 10px; }
    .services-wrapper-items-reserve {
      text-decoration: none;
      color: #000;
      background-color: rgba(235, 235, 235, 0.5);
      padding: 20px 35px;
      border: 1px solid #7c5c65;
      font-size: 27px;
      max-width: 350px;
      display: block;
      margin: 100px auto 0; }
      .services-wrapper-items-reserve:hover {
        background-color: rgba(235, 235, 235, 0);
        color: #fff;
        transition-duration: 0.5s; }

.help {
  background-image: url("../images/dog&human.png");
  background-size: cover;
  position: relative;
  padding-top: 20px; }
  .help-chapter {
    position: absolute;
    top: 16px;
    left: 30px; }
  .help-description {
    font-family: "Gothic", "sans-serif";
    font-size: 25.4px;
    font-weight: 400;
    text-align: center;
    padding: 0 15px 0;
    position: absolute;
    top: 110px; }
  .help-choices {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 150px 50px 0; }
    .help-choices-item {
      border: 1px solid #fdfff9;
      box-sizing: border-box;
      max-width: 400px;
      background-color: rgba(249, 173, 129, 0.23);
      background: -webkit-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      background: -moz-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      background: -o-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      background: -ms-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      background: linear-gradient(-45deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      transform: translateY(50px);
      font-size: 30px; }
      .help-choices-item img {
        display: block;
        margin: 4% auto 10%;
        height: 75px; }
      .help-choices-item p {
        padding: 0 7% 4%;
        text-align: center; }
      .help-choices-item-button {
        display: block;
        margin: 0 auto 15px;
        text-decoration: none;
        color: #000;
        background-color: rgba(235, 235, 235, 0.5);
        padding: 20px 35px;
        border: 1px solid #7c5c65;
        font-size: 27px; }
        .help-choices-item-button:hover {
          background-color: rgba(235, 235, 235, 0);
          color: #fff;
          transition-duration: 0.5s; }

.footer {
  background-color: #424041;
  padding-top: 20px; }
  .footer-chapter {
    position: absolute;
    top: 16px;
    left: 30px; }
  .footer-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .footer-wrapper-info {
      font-family: "Gothic", "sans-serif";
      color: #fff;
      list-style: none;
      width: 40%; }
      .footer-wrapper-info-item {
        line-height: 70px;
        font-size: 17px; }
        .footer-wrapper-info-item span {
          font-size: 20px;
          text-decoration-line: underline; }
        .footer-wrapper-info-item img {
          vertical-align: middle; }
    .footer-wrapper-form {
      display: flex;
      flex-direction: column;
      width: 40%; }
      .footer-wrapper-form input {
        height: 45px;
        border: 1px solid white;
        padding-left: 20px;
        margin-bottom: 3px; }
      .footer-wrapper-form textarea {
        padding-left: 20px;
        padding-top: 20px; }
      .footer-wrapper-form-button {
        text-decoration: none;
        color: #000;
        background-color: rgba(235, 235, 235, 0.5);
        padding: 20px 35px;
        border: 1px solid #7c5c65;
        font-size: 27px; }
        .footer-wrapper-form-button:hover {
          background-color: rgba(235, 235, 235, 0);
          color: #fff;
          transition-duration: 0.5s; }

#map {
  height: 100%; }

@media screen and (max-width: 1250px) {
  #open-menu {
    display: block;
    z-index: 10000; }

  #myMenu {
    display: none;
    margin-top: 25px;
    box-shadow: 0 0 5px inset black;
    background-color: rgba(0, 0, 0, 0.5); }

  ul.act {
    display: block;
    transition: 0.5s display 0.1s; }

  .list-element {
    display: block; }

  .about-us-wrapper-description {
    font-size: 1.3vw; }

  .adoption {
    position: relative;
    max-width: 60%;
    transform: translateY(42vh);
    margin: 0 auto; } }
@media screen and (max-width: 960px) {
  .help-description {
    font-size: 2vw; }

  .footer-wrapper-info-item {
    line-height: 9vh;
    font-size: 2.9vh; }
    .footer-wrapper-info-item span {
      font-size: 3.1vh; }

  .services-wrapper-items-reserve {
    padding: 5px 35px;
    margin: 10px auto 0; } }
@media screen and (max-width: 850px) {
  .adoption-chapter, .about-us-chapter, .services-wrapper-chapter, .services-wrapper-items-service-name, .help-chapter, .footer-chapter {
    font-size: 5vw; }

  .adoption-me {
    font-size: 3vw;
    padding: 5px 35px; }

  .about-us-wrapper-description {
    font-size: 1.9vw;
    line-height: 6vh; }

  .services {
    padding-top: 12vh; }

  .services-wrapper-items-service {
    padding: 0; }
    .services-wrapper-items-service-name {
      margin: 0; }
    .services-wrapper-items-service-describe {
      margin-bottom: 1%; }
    .services-wrapper-items-service img {
      margin: 1% auto; }
  .services-wrapper-items-reserve {
    margin: 2% auto 0; }

  .services-wrapper-items-service img {
    width: 17%; }

  .help-description {
    top: 55px; }

  .help-choices-item-button {
    font-size: 12px;
    padding: 2px 35px; }

  .help-choices {
    padding: 0 65px; }

  .help-choices-item {
    width: auto; }
    .help-choices-item-button {
      margin: 0 auto 1%; }
    .help-choices-item img {
      margin: 1% auto 0; }
    .help-choices-item p {
      padding: 0 1%;
      font-size: 12px; }

  .footer-wrapper-form input {
    height: 25px; }
  .footer-wrapper-form-button {
    padding: 7px 35px;
    font-size: 15px; } }
@media screen and (max-width: 650px) {
  .footer-wrapper-form input {
    height: 20px; } }
@media screen and (max-width: 618px) {
  .adoption {
    transform: translateY(58vh); }
    .adoption-chapter, .about-us-chapter, .services-wrapper-chapter, .services-wrapper-items-service-name, .help-chapter, .footer-chapter {
      font-size: 30px; }

  .services-wrapper-items-reserve {
    margin: 1px auto; }

  .main-link {
    margin: 20px auto 0;
    justify-content: center; } }
@media screen and (orientation: portrait) and (max-width: 414px) {
  .services-wrapper {
    padding: 0 65px; }

  .home {
    background-position-x: center; }

  .adoption {
    position: static;
    margin: 0 auto;
    transform: translateY(10vh); }

  .about-us {
    background-position-x: right; }

  .help-description {
    font-size: 5vw; }

  .footer-wrapper-info-item {
    line-height: 4vh;
    font-size: 1.9vh;
    padding-bottom: 10px; }

  .adoption-chapter, .about-us-chapter, .services-wrapper-chapter, .services-wrapper-items-service-name, .help-chapter, .footer-chapter {
    font-size: 23px; }

  .adoption-me {
    padding: 20px 10px; }

  .about-us-wrapper-description {
    line-height: 19px; } }
@media (orientation: portrait) {
  .footer-wrapper-form-button {
    font-size: 5vw; } }

/*# sourceMappingURL=style.css.map */
