@import 'variables';

button {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
}

.section {
  color: #ffffff;
  background-color: black;
}

#open-menu {
  display: none;
  color: $white_font;
  cursor: pointer;
  padding: 30px 30px 0 0;
  position: fixed;
  right: 0;

}

#myMenu{
  z-index: 70;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 30px 0 0;
  max-width: 1020px;
  box-sizing: border-box;
  position: fixed;
  right: 0;



  .active {
    border: 1px solid $white_font;
    transform-origin: 50% 50% 0;
    -webkit-transition: all 1.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -moz-transition: all 1.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -o-transition: all 1.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: all 1.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    width: auto;
  }

  .list-element {
    list-style: none;
    font-size: $menu-item-size;
    padding: 5px 10px;

    &-link {
      text-decoration: none;
      text-transform: uppercase;
      color: $white_font;
      font-family: $font-stack2;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}


.main-link {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: $white_font;
  padding-top: 30px;
  padding-left: 30px;
  max-width: 358px;

  img {
    vertical-align: middle;
  }

  h1 {
    font-size: 15.24px;
    font-weight: 400;
    width: 268px;
    text-transform: uppercase;
    text-align: center;
    line-height: 32px;
  }
}

.home {
  background-image: url("../images/vvv.png");
  background-size: cover;
  position: relative;
}

.adoption {
  position: absolute;
  bottom: 150px;
  left: 30px;
  display: flex;
  flex-direction: column;
  max-width: 502px;
  align-items: center;

  &-chapter {
    font-family: $font-stack;
    color: $white_font;
    font-size: 46px;
    font-weight: 400;
    text-align: center;
  }

  &-me {
    @include button($border-button, $black_font, $back-button, 20px, 35px, $button-ff);
    max-width: 176px;
    text-align: center;
    &:hover {
      background-color: $back-button-hover;
      color: $white_font;
      transition-duration: 0.5s;
    }
  }
}

.about-us {
  background-image: url("../images/cat.png");
  background-size: cover;
  opacity: 0.8;
  padding-top: 20px;

  &-chapter {
    @extend .adoption-chapter;
    position: absolute;
    top: 16px;
    left: 30px;
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 70px;

    &-description {
      font-family: $font-stack2;
      font-size: 22px;
      font-weight: 400;
      line-height: 35px;
      text-align: center;
    }
  }
}

.services {
  background-image: url("../images/dog.png");
  background-size: cover;
  padding-top: 20px;

  &-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-chapter {
      @extend .adoption-chapter;
      position: absolute;
      top: 16px;
      left: 30px;
    }

    &-items {

      &-service {
        max-width: 380px;
        border: 1px solid #fdfff9;
        box-sizing: border-box;
        background-color: rgba(249, 173, 129, 0.16);
        background: -webkit-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
        background: -moz-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
        background: -o-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
        background: -ms-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
        background: linear-gradient(-45deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
        padding: 0 30px;

        &-name {
          @extend .adoption-chapter;
          text-align: center;
          font-size: 27px;
          margin: 20px 0 50px;
        }

        &-describe {
          font-family: $font-stack2;
          font-size: 22px;
          text-align: center;
          margin-bottom: 50px;
        }

        img {
          display: block;
          margin: 0 auto 10px;
        }

      }

      &-reserve {
        @include button($border-button, $black_font, $back-button, 20px, 35px, $button-ff);
        max-width: 350px;
        display: block;
        margin: 100px auto 0;

        &:hover {
          background-color: $back-button-hover;
          color: $white_font;
          transition-duration: 0.5s;
        }
      }
    }
  }
}

.help {
  background-image: url("../images/dog&human.png");
  background-size: cover;
  position: relative;
  padding-top: 20px;

  &-chapter {
    @extend .adoption-chapter;
    position: absolute;
    top: 16px;
    left: 30px;
  }

  &-description {
    font-family: $font-stack2;
    font-size: 25.4px;
    font-weight: 400;
    text-align: center;
    padding: 0 15px 0;
    position: absolute;
    top: 110px;
  }

  &-choices {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 150px 50px 0;

    &-item {
      border: 1px solid #fdfff9;
      box-sizing: border-box;
      max-width: 400px;
      background-color: rgba(249, 173, 129, 0.23);
      background: -webkit-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      background: -moz-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      background: -o-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      background: -ms-linear-gradient(135deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      background: linear-gradient(-45deg, rgba(197, 159, 115, 0.36) 0%, rgba(48, 29, 29, 0.36) 100%);
      transform: translateY(50px);
      font-size: 30px;

      img {
        display: block;
        margin: 4% auto 10%;
        height: 75px;
      }

      p {
        padding: 0 7% 4%;
        text-align: center;
      }

      &-button {
        display: block;
        margin: 0 auto 15px;
        @include button($border-button, $black_font, $back-button, 20px, 35px, $button-ff);
        &:hover {
          background-color: $back-button-hover;
          color: $white_font;
          transition-duration: 0.5s;
        }
      }
    }
  }
}

.footer {
  background-color: rgb(66, 64, 65);
  padding-top: 20px;

  &-chapter {
    @extend .adoption-chapter;
    position: absolute;
    top: 16px;
    left: 30px;
  }

  &-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &-info {
      font-family: $font-stack2;
      color: $white_font;
      list-style: none;
      width: 40%;

      &-item {
        line-height: 70px;
        font-size: 17px;

        span {
          font-size: 20px;
          text-decoration-line: underline;
        }

        img {
          vertical-align: middle;
        }
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      width: 40%;

      input {
        height: 45px;
        border: 1px solid white;
        padding-left: 20px;
        margin-bottom: 3px;
      }

      textarea {
        padding-left: 20px;
        padding-top: 20px;
      }

      &-button {
        @include button($border-button, $black_font, $back-button, 20px, 35px, $button-ff);

        &:hover {
          background-color: $back-button-hover;
          color: $white_font;
          transition-duration: 0.5s;
        }
      }
    }
  }
}

#map {
  height: 100%;
}



@import "media";

















